<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/mui-0.9.39/css/mui.css" />
  <script src="./css/mui-0.9.39/js/mui.min.js"></script>
  <title>login画面</title>
</head>
<body>
  <a href="./login.php">login</a>
</body>
</html>
