<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ohitori-system | login</title>
</head>
<body>
  <h1>ログイン</h1>
  <form action="./login2.php" method="post">
    ID<br>
    <input type="text" name="id">
    <br>
    PW<br>
    <input type="password" name="pw">
    <br>
    <?php
      if($obj->message != ""){
       echo $obj->message;
      }
    ?>
    <br>
    <input type="submit" value="送信">
  </form>
</body>
</html>
